<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
  	<div>
			<%= link_to "Guest What!", root_path, id: "logo" %>
		</div>
		<nav>
			<ul class="nav navbar-nav pull-right">
      	<li><%= link_to "Home", root_path %></li>
      	<li><%= link_to "Help", help_path %></li>
      	<li><%= link_to "About", about_path %></li>
      	<% if user_signed_in? %>
  				<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
  				<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  				<li><div class="user_name">login as <%= current_user.email %></div></li>
				<% else %>
  				<li><%= link_to "Sign up", new_user_registration_path %></li>
  				<li><%= link_to "Login", new_user_session_path %></li>
				<% end %>
      </ul>
		</nav>
	</div>
</header>